appdirs==1.4.4
attrs @ file:///opt/conda/conda-bld/attrs_1642510447205/work
black==19.10b0
certifi==2021.10.8
charset-normalizer==2.0.12
click==8.0.3
Flask @ file:///tmp/build/80754af9/flask_1634118196080/work
idna==3.3
itsdangerous @ file:///tmp/build/80754af9/itsdangerous_1621432558163/work
Jinja2 @ file:///tmp/build/80754af9/jinja2_1635780242639/work
MarkupSafe @ file:///tmp/build/80754af9/markupsafe_1621528148836/work
mypy-extensions==0.4.3
pathspec==0.7.0
pymessenger==0.0.7.0
python-dotenv==0.19.2
regex @ file:///opt/conda/conda-bld/regex_1642021319040/work
requests==2.27.1
requests-toolbelt==0.9.1
six==1.16.0
toml @ file:///tmp/build/80754af9/toml_1616166611790/work
typed-ast @ file:///tmp/build/80754af9/typed-ast_1624953673417/work
typing-extensions @ file:///tmp/build/80754af9/typing_extensions_1631814937681/work
urllib3==1.26.8
Werkzeug @ file:///opt/conda/conda-bld/werkzeug_1645628268370/work
